.transition, .taskItem-content, p, ul li i.arrow-dropdown:before, ul li i.arrow-dropdown:after {
    transition: all 0.25s ease-in-out;
}

.flipIn, h1, ul li {
    animation: flipdown 0.5s ease both;
}

.no-select, h2 {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



input.checkbox_box{
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

label.check {
    bottom: 2px;
    right: 60%;
    top: 15%;
}

#taskapp-wrapper {
    /*overflow:hidden;*/
    /*overflow-y: scroll;*/
    width: 100%;
    height: 100%;
    perspective: 900;
    background-color: white;
    font-family: "Titillium Web", sans-serif;
    color: #2c3e50;

    min-height: 0;
    display: inline-block;
    position: relative;
    left: 50%;
    margin: 90px 0;
    transform: translate(-50%, 0);
    box-shadow: 0 10px 0 0 #c0392b inset;
    max-width: 800px;
    padding: 30px;
}
@media (max-width: 550px) {
    #taskapp-wrapper {
        box-sizing: border-box;
        transform: translate(0, 0);
        max-width: 100%;
        min-height: 100%;
        margin: 0;
        left: 0;
    }
}

h1, h2 {
    color: #e74c3c;
}

h1 {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 3px;
    font-weight: 100;
}

h2 {
    font-size: 26px;
    line-height: 34px;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    background-color: white;
    margin: 0;
    cursor: pointer;
}


/*TaskItem Arrow on Content Box*/
.arrow
{
    width: 0 !important;
    height: 0 !important;
    margin-left: 15px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 9px solid #F8F8F8;
}
/*!TaskItem Arrow on Content Box*/

/*TaskItem ContentBox bottom border*/
.taskItem-content div:last-child
{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
/*!TaskItem ContentBox bottom border*/

/*TaskItem ContentBox top border*/
.taskItem-content div:nth-child( 2 )
{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
/*!TaskItem ContentBox top border*/

/*TaskItem Contentbox styling*/
.taskItem-content div
{
    display: block;
    background: #F8F8F8;
    width: 400px;
    height: 150px;
    padding: 0 0 0 10px;
    font: bold 13px Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    color: rgba( 0, 0, 0, 0.4 );
    line-height: 40px;
    box-shadow: 1px 1px 1px rgba( 0, 0, 0, 0.2 );
}
/*!TaskItem Contentbox styling*/

/*.taskItem-content {*/
    /*color: #2c3e50;*/
    /*background-color: whitesmoke;*/
    /*padding-left: 6px;*/
    /*font-size: 17px;*/
    /*line-height: 35px;*/
    /*letter-spacing: 1px;*/
    /*position: relative;*/
    /*overflow: hidden;*/
    /*max-height: 800px;*/
    /*opacity: 1;*/
    /*transform: translate(0, 0);*/
    /*margin-top: 14px;*/
    /*z-index: 2;*/
/*}*/

#task-list {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
}
#task-list li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
    border-top: 1px dotted #ecf0f1;
}
#task-list li:nth-of-type(1) {
    animation-delay: 0.5s;
}
#task-list li:nth-of-type(2) {
    animation-delay: 0.75s;
}
#task-list li:nth-of-type(3) {
    animation-delay: 1s;
}
#task-list li:last-of-type {
    padding-bottom: 0;
}
#task-list li i.arrow-dropdown {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 0;
}

#task-list li i.arrow-dropdown:before, ul li i.arrow-dropdown:after {
    content: "";
    position: absolute;
    background-color: #e74c3c;
    width: 3px;
    height: 9px;
}
#task-list li i.arrow-dropdown:before {
    transform: translate(-2px, 0) rotate(45deg);
}
#task-list li i.arrow-dropdown:after {
    transform: translate(2px, 0) rotate(-45deg);
}
#task-list li .itemCheckbox[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 40%;
    z-index: 1;
    opacity: 0;
}
#task-list li .itemCheckbox[type=checkbox]:checked ~ .taskItem-content {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}
#task-list li .itemCheckbox[type=checkbox]:checked ~ i.arrow-dropdown:before {
    transform: translate(2px, 0) rotate(45deg);
}
#task-list li .itemCheckbox[type=checkbox]:checked ~ i.arrow-dropdown:after {
    transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
    0% {
        opacity: 0;
        transform-origin: top center;
        transform: rotateX(-90deg);
    }
    5% {
        opacity: 1;
    }
    80% {
        transform: rotateX(8deg);
    }
    83% {
        transform: rotateX(6deg);
    }
    92% {
        transform: rotateX(-3deg);
    }
    100% {
        transform-origin: top center;
        transform: rotateX(0deg);
    }
}


/*Checkbox*/
li .markComplete {
    vertical-align: middle;
    display: none;
}
li .markComplete + label {
    display: inline-block;
    background: #95a5a6;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    position: absolute;
    right: 20px;
    top: 20px;
    text-align: center;
    padding-top: 3px;
    color: transparent;
    cursor: pointer;
    transition: all .2s;
}
li .markComplete + label:after {
    content: '';
    background: #2980b9;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 8px;
    top: 8px;
    border-radius: 9999px;
    transition: all 0.3s ease-in;
    z-index: -1;
}
li .markComplete:checked + label {
    background: #ecf0f1;
    color: #3498db;
}
li .markComplete:checked + label:after {
    width: 1000px;
    height: 1000px;
    top: -500px;
    right: -500px;
    background: #3498db;
}
ul {
    border-radius: 2px;
    overflow: hidden;
    width: 360px;
    margin: 60px auto 0;
    /*box-shadow: 0 2px 2px #34495e;*/
}
li {
    width: 360px;
    padding: 12px;
    margin: auto;
    position: relative;
    overflow: hidden;
}