#welcome-wrapper {
    width: 100%;
    height: 100%;
    background: #76b852;
    background: -webkit-linear-gradient(to left, #76b852 , #8DC26F);
    background: linear-gradient(to left, #76b852 , #8DC26F);
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    align-items: center;

    line-height: 1.45;
    margin-top:20px;
    margin-bottom:10px;
}

.bounce {
    height: 100px;
}

.bounce span {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
    font-family: 'Titan One', cursive;
    font-size: 80px;
    color: #FFF;
    text-shadow: 0 1px 0 #CCC,
    0 2px 0 #CCC,
    0 3px 0 #CCC,
    0 4px 0 #CCC,
    0 5px 0 #CCC,
    0 6px 0 transparent,
    0 7px 0 transparent,
    0 8px 0 transparent,
    0 9px 0 transparent,
    0 10px 10px rgba(0, 0, 0, .4);
}

.bounce span:nth-child(2) { animation-delay: .1s; }
.bounce span:nth-child(3) { animation-delay: .2s; }
.bounce span:nth-child(4) { animation-delay: .3s; }
.bounce span:nth-child(5) { animation-delay: .4s; }
.bounce span:nth-child(6) { animation-delay: .5s; }
.bounce span:nth-child(7) { animation-delay: .6s; }
.bounce span:nth-child(8) { animation-delay: .7s; }
.bounce span:nth-child(9) { animation-delay: .8s; }
.bounce span:nth-child(10) { animation-delay: .9s; }
.bounce span:nth-child(11) { animation-delay: 1.0s; }
.bounce span:nth-child(12) { animation-delay: 1.1s; }
.bounce span:nth-child(13) { animation-delay: 1.2s; }
.bounce span:nth-child(14) { animation-delay: 1.3s; }
.bounce span:nth-child(15) { animation-delay: 1.4s; }
.bounce span:nth-child(16) { animation-delay: 1.5s; }

@keyframes bounce {
    100% {
        top: -20px;
        text-shadow: 0 1px 0 #CCC,
        0 2px 0 #CCC,
        0 3px 0 #CCC,
        0 4px 0 #CCC,
        0 5px 0 #CCC,
        0 6px 0 #CCC,
        0 7px 0 #CCC,
        0 8px 0 #CCC,
        0 9px 0 #CCC,
        0 50px 25px rgba(0, 0, 0, .2);
    }
}