/*Generals */
html {
    margin: 0;
    height: 100%;
}




body {
    margin: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #2196F3;
}

.form-collection {
    width: 350px;
    height: 350px;
}

.limit-width {
    width: 300px;
}

.absolute-footer {
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 27.2px;
    font-size: 1.7rem;
    font-weight: 300;
    padding: 15px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
}

.form-collection {
    z-index: 2;
}

/*Styling Card */
.card {
    font-family: "Open Sans", sans-serif;
    background: #fff;
    position: absolute;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
}

.card-body {
    padding: 20px;
}

.box-btn {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    display: block;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #444;
    background: transparent;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
    border-radius: 3px;
}
.box-btn:hover {
    background: rgba(0, 0, 0, 0.06);
}
.box-btn:active {
    background: rgba(0, 0, 0, 0.1);
}

.input-group {
    border: 2px solid #eee;
    position: relative;
    background: #eee;
    margin: 25px 0;
    border-radius: 2px;
    overflow: hidden;
    padding: 10px;
}
.input-group input {
    border: none;
    background: transparent;
    width: 100%;
    outline: none;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}
.input-group label {
    position: absolute;
    top: 10px;
    left: 0;
    padding-left: 10px;
    font-weight: 500;
    color: #aaa;
}

.card-footer button, .card-footer button:hover {
    width: 100%;
    padding: 25px;
    font-size: 24px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    background: #4CAF50;
    border: none;
    color: #fff;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}


/*Animation Classes And Prerequisits */
.above {
    z-index: 1;
}

.below {
    z-index: 0;
}

.turned {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.sign-up-card, .log-in-card {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}


/*Get Rid of Bootstrap highlight/shadows*/
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none !important;

}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

* {
    border-radius: 0 !important;
}

