.modal,
.modal-box {
    z-index: 900;
}

.modal-sandbox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
}

.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(0,0,0);
    background: rgba(0,0,0,.8);
    overflow: auto;
}

.modal-box {
    position: relative;
    width: 80%;
    max-width: 920px;
    margin: 100px auto;
    animation-name: modalbox;
    animation-duration: .3s;
    animation-timing-function: ease-out;
}

.modal-header {
    padding: 20px 40px;
    background: #546E7A;
    color: #ffffff;
}

.modal-body {
    background: #ECEFF1;
    padding: 60px 40px;
}

/* Close Button */
.close-modal {
    text-align: right;
    cursor: pointer;
}

/* Animation */
@-webkit-keyframes modalbox {
    0% {
        top: -250px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes modalbox {
    0% {
        top: -250px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

/* Aditional Styles */
.task-item  {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

p {
    line-height: 1.4em;
}

.task-item {
    background: #B0BEC5;
}

.modal-trigger, button {
    top: 50%;
    left: 50%;
    padding: 20px 40px;
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    text-decoration: none;
}

.modal-trigger {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: ease .2s;
}

button {
    border: 1px solid #333333;
    outline: none;
    color: #333333;
}

.modal-trigger:hover {
    padding: 20px 60px;
}