#login-page-form { margin: 0px 10px; }

.login-page-header {
    margin-top: 2px;
    margin-bottom: 2px;
}

.login-page-container { max-width: 360px; }

.login-page-divider {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.login-page-divider hr {
    margin: 7px 0px;
    width: 35%;
}

.left { float: left; }

.right { float: right; }