
.log-in-card.turned {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="1" /></filter></svg>#filter');
    -webkit-filter: blur(1px);
    filter: blur(1px);
    webkit-filter: blur(1px);
    -webkit-transform: rotateZ(-90deg) translateX(0px) translateY(100px) scale(0.7);
    transform: rotateZ(-90deg) translateX(0px) translateY(100px) scale(0.7);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.animation-state-1 .log-in-card.above {
    -webkit-transform: rotateZ(-83deg) translateY(-180px) translateX(100px) scale(0.78);
    transform: rotateZ(-83deg) translateY(-180px) translateX(100px) scale(0.78);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="0.5" /></filter></svg>#filter');
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
    webkit-filter: blur(0.5px);
}


.animation-state-finish .log-in-card.below {
    -webkit-transform: rotateZ(-90deg) translateX(0px) translateY(100px) scale(0.7);
    transform: rotateZ(-90deg) translateX(0px) translateY(100px) scale(0.7);
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="1" /></filter></svg>#filter');
    -webkit-filter: blur(1px);
    filter: blur(1px);
    webkit-filter: blur(1px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}



.animation-state-1 .log-in-card.below {
    -webkit-transform: rotateZ(-10deg) translateY(180px) scale(0.78);
    transform: rotateZ(-10deg) translateY(180px) scale(0.78);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="0.5" /></filter></svg>#filter');
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
    webkit-filter: blur(0.5px);
}


.animation-state-finish .log-in-card.above {
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotateZ(5deg) translateY(0px) scale(1);
    transform: rotateZ(5deg) translateY(0px) scale(1);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="0" /></filter></svg>#filter');
    -webkit-filter: blur(0);
    filter: blur(0);
    webkit-filter: blur(0);
}

