/*
 * GENERAL - following sticky footer
 */
html, body {
    height: 100%;
    padding-top: 30px;
}

#wrap {min-height: 85%;}

#content {
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    overflow-x: hidden;
}

#footer {
    position: relative;
    margin-top: -60px; /* negative value of footer height */
    height: 60px;
    clear:both;
    font-size: 12px;
    padding-left: 30px;
    padding-right: 30px;
}

ul li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}

table, tr, tbody, td {
    vertical-align: middle;
}

h1 {
    margin-bottom: 20px;
}
.parsley-error-list {
    color: red;
}

.hero-unit {
    padding: 30px 20px 30px 20px;
    margin: 30px 20px 20px 20px;
}

.navbar-header {
    float: none;
}

.mb20 {
    margin-bottom: 20px;
}

/*
 * FORMS
 */
#login-form{
    padding-left: 80px;
    padding-right: 80px;
}

#login-form-container input {
    padding: 5px;
    margin:5px;
}

/*
 * ALERTS
 */
.alert {
    margin-top: 10px;
    padding: 3px 35px 3px 14px;
    margin-bottom: 5px;
    margin-left: 40px;
}


/*
 * IMAGES
 */
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}