.sign-up-card.turned {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="0.8" /></filter></svg>#filter');
    -webkit-filter: blur(0.8px);
    filter: blur(0.8px);
    webkit-filter: blur(0.8px);
    -webkit-transform: rotateZ(-90deg) translate3d(0, 100px, 0) scale(0.7);
    transform: rotateZ(-90deg) translate3d(0, 100px, 0) scale(0.7);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


.animation-state-1 .sign-up-card.below {
    -webkit-transform: rotateZ(-7deg) translateY(150px) scale(0.78);
    transform: rotateZ(-7deg) translateY(150px) scale(0.78);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="0.4" /></filter></svg>#filter');
    -webkit-filter: blur(0.4px);
    filter: blur(0.4px);
    webkit-filter: blur(0.4px);
}


.animation-state-finish .sign-up-card.above {
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotateZ(5deg) translateY(0px) scale(1);
    transform: rotateZ(5deg) translateY(0px) scale(1);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="0" /></filter></svg>#filter');
    -webkit-filter: blur(0);
    filter: blur(0);
    webkit-filter: blur(0);
}


.animation-state-1 .sign-up-card.above {
    -webkit-transform: rotateZ(-80deg) translateY(-170px) translateX(100px) scale(0.78);
    transform: rotateZ(-80deg) translateY(-170px) translateX(100px) scale(0.78);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="0.4" /></filter></svg>#filter');
    -webkit-filter: blur(0.4px);
    filter: blur(0.4px);
    webkit-filter: blur(0.4px);
}


.animation-state-finish .sign-up-card.below {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="0.4" /></filter></svg>#filter');
    -webkit-filter: blur(0.4px);
    filter: blur(0.4px);
    webkit-filter: blur(0.4px);
    -webkit-transform: rotateZ(-90deg) translate3d(0, 100px, 0) scale(0.7);
    transform: rotateZ(-90deg) translate3d(0, 100px, 0) scale(0.7);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.parsley-error-list {
    color: red;
}

.alert {
    margin-top: 10px;
    padding: 3px 35px 3px 14px;
    margin-bottom: 5px;
    margin-left: 40px;
}

ul li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}
