.centerMe {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 13px;

    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.completeBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    border: 0;
    background: transparent;
    outline: 0;
    overflow: hidden;
}
.completeBtn .icon {
    position: relative;
    background: #1D242B;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    -webkit-transition: .2s color;
    transition: .2s color;
    border-radius: 2px;
}
.completeBtn .icon .fa {
    width: 30px;
    -webkit-transition: .2s all;
    transition: .2s all;
}
.completeBtn .icon .fa-check {
    color: #38B87C;
}
.completeBtn .icon .fa-question {
    color: #2492FF;
}
.completeBtn .icon:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #1D242B;
    top: 12.5px;
    right: 1px;
    -webkit-transition: .2s right;
    transition: .2s right;
    z-index: 1;
}
.completeBtn .text {
    position: relative;
    width: 0;
    height: 30px;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    background: #F34541;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-weight: 300;
    -webkit-transition: .2s all;
    transition: .2s all;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.completeBtn .text span {
    width: 100%;
    opacity: 0;
    position: absolute;
    top: -30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: .3s all;
    transition: .3s all;
}
.completeBtn:hover .icon {
    color: #F34541;
    border-radius: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.completeBtn:hover .icon:after {
    right: -2px;
}
.completeBtn:hover .text {
    width: 120px;
}
.completeBtn:hover .text span {
    opacity: 1;
    top: 0;
}
.completeBtn.confirm .icon {
    border-radius: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.completeBtn.confirm .icon .fa {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
}
.completeBtn.confirm .icon:after {
    right: -2px;
}
.completeBtn.confirm .text {
    background: #2492FF;
    width: 120px;
}
.completeBtn.confirm .text span {
    opacity: 1;
    top: 0;
}
.completeBtn.done .icon {
    border-radius: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.completeBtn.done .icon .fa {
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
}
.completeBtn.done .icon:after {
    right: -2px;
}
.completeBtn.done .text {
    background: #38B87C;
    width: 120px;
}
.completeBtn.done .text span {
    opacity: 1;
    top: 0;
}

@-webkit-keyframes fadeInZoom {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes fadeInZoom {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
