#construction-wrapper {
    /*overflow:hidden;*/
    /*overflow-y: scroll;*/
    width: 100%;
    height: 100%;
    perspective: 900;
    background-color: #ffc107;
    font-family: "Titillium Web", sans-serif;
    color: #2c3e50;

    min-height: 0;
    display: inline-block;
    position: relative;
    left: 50%;
    margin: 90px 0;
    transform: translate(-50%, 0);
    max-width: 800px;
    padding: 30px;
}

@media (min-width: 1000px) {
    #content-hook section {
        min-height: 500px;
        min-width: 1000px;
    }
}

@media (max-width: 550px) {
    #construction-wrapper {
        box-sizing: border-box;
        transform: translate(0, 0);
        max-width: 100%;
        min-height: 100%;
        margin: 0;
        left: 0;
    }
}