<input class="itemCheckbox" type="checkbox" checked>
<i class="arrow-dropdown"></i>
<h2><%= title %></h2>
<div class="taskItem-content">
    <div class="arrow"></div>
    <div class="checkbox-content" id="checkwrapper-<%= hash_code || ''%>">
        <!--<input class="checkbox-input" type="checkbox" id="checkBtn-<%= hash_code || ''%>" name="checkBtn-<%= hash_code || ''%>" value="" />-->
        <!--<label class="checkbox-label" id="checkLabel-<%= hash_code || ''%>" for="checkBtn-<%= hash_code || ''%>">-->
            <!--<span class="checkbox-span">&lt;!&ndash; This span is needed to create the "checkbox" element &ndash;&gt;</span>Complete?-->
        <!--</label>-->

        <div class="checkbox-wrapper">
            <label class="check">
                <input type="checkbox"/>
                <div id="checkbox-box-<%= hash_code || ''%>" class="checkbox_box box"></div>
                Complete?
            </label>
        </div>
    </div>

</div>
