<section id="taskapp-wrapper" class="materialContainer">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../webapp/css/accordion-taskapp.css">
    <link rel="stylesheet" href="../webapp/css/taskapp-overbox.css">
    <!--<link rel="stylesheet" href="../webapp/css/taskitem-complete.css">-->
    <link rel="stylesheet" href="../webapp/css/animated-checkbox.css">

    <div id="taskapp-box" class="taskapp box">
        <div class="title">TASKS</div>


    </div>

    <div class="overbox">
        <div class="material-button alt-2"><span class="shape"></span> </div>

        <div class="title">NEW TASK</div>

        <div class="input">
            <label for="taskTitle">Title</label>
            <input type="text" name="taskTitle" id="taskTitle">
            <span class="spin"></span>
        </div>

        <div class="input">
            <label for="taskDesc">Description</label>
            <input type="text" name="taskDesc" id="taskDesc">
            <span class="spin"></span>
        </div>

        <div class="button">
            <button id="btn-newTask"><span>NEXT</span></button>
        </div>

    </div>

    <script src="../webapp/js/taskapp-overbox.js"></script>

</section>
