<div id="auth-switch-card-wrapper">

    <link rel="stylesheet" type="text/css" href="/planbook-rest/public/webapp/css/auth-switch-card.css">

    <div id="switch-card-login-hook"></div>

    <div id="switch-card-register-hook"></div>

</div>
