<link rel="stylesheet" type="text/css" href="/planbook-rest/public/webapp/css/footer.css">

<hr>
    <p class="pull-left">
        <a href="http://localhost:8012/planbook-rest/public/index.php/">&copy; 2017 Planbook</a>
    </p>