<div id="forgot-pw-template" class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Forgot Password?</h2>
                        <p>You can reset your password here.</p>
                        <div class="height:50px;">
                            <ul id="form-errors" class="parsley-error-list"></ul>
                        </div>
                        <div class="panel-body">

                            <form id="register-form" data-validate="parsley" class="form" >

                                <div class="form-group">
                                    <input type="text" id="forgot-pw-username-input" name="username" placeholder="Username" value="<%= user.username || '' %>"
                                           data-required="true" data-notblank="true" class="form-control">
                                    <span class="help-block"></span>
                                </div>
                                <div class="form-group">
                                    <a href="#" name="forgot-pw-submit" class="btn btn-lg btn-primary btn-block" data-bypass>Reset Password</a>
                                </div>

                                <input type="hidden" class="hide" name="token" id="token" value="">
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>