
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <div id="header-container" class="container">
            <a class="navbar-brand" href="index">Planbook</a>

            <div id="header-alert" class="alert alert-success col-md-7 navbar-button" style="display:none;"></div>

            <% if(logged_in){ %>
            <link rel="stylesheet" href="/planbook-rest/public/webapp/css/header-nav.css">
            <ul class="nav navbar-nav navbar-right">
                <li id="nav-dropdown-links" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><%= user.username %> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a id="settings-link" href="#" data-bypass>Settings</a></li>
                        <li><a id="logout-link" href="#" data-bypass>Sign Out</a></li>
                        <li><a id="remove-account-link" href="#" data-bypass>Remove Account</a></li>
                    </ul>
                </li>
            </ul>
            <% } else { %>
            <link rel="stylesheet" href="/planbook-rest/public/webapp/css/login.css">
            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-right" id="header-login-form" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" id="header-username-input" name="username" placeholder="Username" value="<%= user.username || '' %>"
                               data-required="true" data-notblank="true">
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" id="header-password-input" placeholder="Password" name="user_password"
                               value="" data-required="true" data-notblank="true" data-rangelength="[5,25]">
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <a href="#" id="header-login-btn" class="btn btn-default" data-bypass>Login</a>
                        <span class="help-block"></span>

                    </div>
                </form>
            </ul>
            <% } %>

        </div>
    </div>
</div>