<link rel="stylesheet" type="text/css" href="/planbook-rest/public/webapp/css/login-page.css">
<link rel="stylesheet" href="/planbook-rest/public/webapp/css/login.css">

<div id="login-template" class="container login-page-container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-body">

            <form id="login-page-form" class="form" data-validate="parsley">
                <div class="form-group">
                    <h2 class="login-page-header">Sign in</h2>
                    <div class="height:50px;">
                        <ul id="login-errors" class="parsley-error-list"></ul>
                    </div>
                </div>
                <div class="form-group">
                    <strong>Username</strong>
                    <input type="text" id="login-username-input" name="username" placeholder="Username" value="<%= user.username || '' %>"
                           data-required="true" data-notblank="true" class="form-control">
                    <span class="help-block"></span>
                </div>
                <div class="form-group">
                    <strong>Password</strong>
                    <span class="right"><a href="recoverAccount">Forgot your password?</a></span>
                    <input class="form-control" type="password" id="login-password-input" placeholder="Password" name="user_password"
                           value="" data-required="true" data-notblank="true" data-rangelength="[5,25]">
                    <span class="help-block"></span>
                </div>
                <div class="form-group" style="padding-top: 12px;">
                    <a href="#" id="login-btn" class="btn btn-success btn-block" data-bypass>Sign in</a>
                </div>
                <div class="form-group login-page-divider">
                    <hr class="left"><small>New to site?</small><hr class="right">
                </div>
                <p class="form-group"><a href="register" class="btn btn-info btn-block">Create an account</a></p>
                <p class="form-group">By signing in you are agreeing to our <a href="toc">Terms of Use</a> and our <a href="privacyPolicy">Privacy Policy</a>.</p>

            </form>

            </div>
        </div>
    </div>
</div>