<div id="login-switch-card-wrapper">

    <link rel="stylesheet" type="text/css" href="/planbook-rest/public/webapp/css/login-switch-card.css">

    <form method="POST" action="#" role="form" id="login-page-form" class="form" data-validate="parsley">
        <div class="card-body">
            <div class="input-group username">
                <input type="text" id="login-username-input" name="username" placeholder="Username" value="<%= user.username || '' %>"
                       data-required="true" data-notblank="true" class="form-control"/>
                <span class="help-block"></span>
            </div>
            <div class="input-group password">
                <input class="form-control" type="password" id="login-password-input" placeholder="Password" name="user_password"
                       value="" data-required="true" data-notblank="true" data-rangelength="[5,25]"/>
                <span class="help-block"></span>
            </div>
            <a href="recoverAccount" class="box-btn">Forgot Password?</a>
        </div>
        <div class="card-footer">
            <button type="button" href="#" id="login-btn" class="btn btn-success btn-block disabled" data-bypass>Log in</button>
        </div>
    </form>
</div>