<div class="col" ontouchstart="this.classList.toggle('hover');">
    <div class="container">
        <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
            <div class="inner">
                <p>Diligord</p>
                <span>Lorem ipsum</span>
            </div>
        </div>
        <div class="back">
            <div class="inner">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
            </div>
        </div>
    </div>
</div>