<div id="paper-snake-logo-wrapper">

    <link rel="stylesheet" type="text/css" href="/planbook-rest/public/webapp/css/animation-paper-snake.css">

    <h1 class="flag">PLANBOOK</h1>

    <script>
        $( document ).ready(function() {
            $(".flag").lettering();
        });
    </script>

</div>
