<% if(logged_in){ %>


<% } else { %>


<link rel="stylesheet" type="text/css" href="/planbook-rest/public/webapp/css/register.css">

<div id="register-template" class="container register-container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-body">
                <form method="POST" action="#" role="form" class="register-form" data-validate="parsley">
                    <div class="form-group">
                        <h2 class="register-h2">Create account</h2>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="signupUsername">Username</label>
                        <input id="signupUsername" name="username" type="text" maxlength="50" class="form-control" value="<%= user.username || '' %>"
                               data-required="true" data-notblank="true">
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="signupEmail">Email</label>
                        <input id="signupEmail" type="email" maxlength="50" class="form-control" value="<%= user.email || '' %>"
                               data-required="true" data-notblank="true">
                        <span class="help-block"></span>

                    </div>
                    <div class="form-group">
                        <label class="control-label" for="signupEmailagain">Confirm Email</label>
                        <input id="signupEmailagain" type="email" maxlength="50" class="form-control" name="user_email"
                               value="" data-required="true" data-notblank="true" data-equalto="#signupEmail" >
                        <span class="help-block"></span>

                    </div>
                    <div class="form-group">
                        <label class="control-label" for="signupPassword">Password</label>
                        <input id="signupPassword" type="password" maxlength="25" class="form-control" placeholder="at least 6 characters" length="40" name="user_password"
                               value="" data-required="true" data-notblank="true" data-rangelength="[5,25]">
                        <span class="help-block"></span>

                    </div>
                    <div class="form-group">
                        <label class="control-label" for="signupPasswordagain">Confirm Password</label>
                        <input id="signupPasswordagain" type="password" maxlength="25" class="form-control" name="user_password"
                               value="" data-required="true" data-notblank="true" data-rangelength="[5,25]" data-equalto="#signupPassword">
                        <span class="help-block"></span>

                    </div>
                    <div class="form-group">
                        <a href="#" id="signup-btn" class="btn btn-info btn-block login-register" data-bypass>Register</a>
                    </div>
                    <p class="form-group">By creating an account, you agree to our <a href="toc">Terms of Use</a> and our <a href="privacyPolicy">Privacy Policy</a>.</p>
                    <hr>
                    <p></p>Already have an account? <a id="login-page-link" href="login">Sign in</a></p>
                </form>
            </div>
        </div>
    </div>
</div>

<% } %>

