<div id="register-switch-card-wrapper">

    <link rel="stylesheet" type="text/css" href="/planbook-rest/public/webapp/css/register-switch-card.css">

    <form method="POST" action="#" role="form" class="register-form" data-validate="parsley">
        <div class="card-body">
            <div class="input-group username">
                <input id="signupUsername" name="username" type="text" maxlength="50" class="form-control" value="<%= user.username || '' %>"
                       data-required="true" data-notblank="true" placeholder="Username"/>
                <span class="help-block"></span>

            </div>
            <div class="input-group email">
                <input id="signupEmail" type="email" maxlength="50" class="form-control" value="<%= user.email || '' %>"
                       data-required="true" data-notblank="true" placeholder="Email"/>
                <span class="help-block"></span>

            </div>
            <div class="input-group password">
                <input id="signupPassword" type="password" maxlength="25" class="form-control" placeholder="Password" length="40" name="user_password"
                       value="" data-required="true" data-notblank="true" data-rangelength="[5,25]" />
                <span class="help-block"></span>
            </div>
        </div>

        <div class="card-footer">
            <button type="button" href="#" id="signup-btn" class="btn btn-info btn-block login-register" data-bypass>Sign Up</button>
        </div>
    </form>

</div>