<section id="settings-container">
    <link rel="stylesheet" type="text/css" href="/planbook-rest/public/webapp/css/settings.css">

    <div class="well" id="settings-well">
        <ul class="nav nav-tabs">
            <li id="profile-tab-header" class="active"><a data-toggle="tab">Profile</a></li>
            <li id="password-tab-header"><a data-toggle="tab">Password</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active in" id="profile-tab-content">
                <form id="tab">

                    <!--Username-->
                    <div class="form-group row">
                        <label for="inputUsername">Username</label>
                        <input type="text" class="form-control" id="inputUsername" placeholder="Enter username">
                    </div>

                    <!--First Name-->
                    <div class="form-group row">
                        <label for="inputFirstName">First Name</label>
                        <input type="text" class="form-control" id="inputFirstName" placeholder="Enter first name">
                    </div>

                    <!--Last Name-->
                    <div class="form-group row">
                        <label for="inputLastName">Last Name</label>
                        <input type="text" class="form-control" id="inputLastName" placeholder="Enter last name">
                    </div>

                    <!--Email Address-->
                    <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>

                    <div class="form-group row">
                        <!--Timezone Option-->
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Timezone</label>
                          <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                            <option selected>Choose...</option>
                            <option value="-12.0">(GMT -12:00) Eniwetok, Kwajalein</option>
                            <option value="-11.0">(GMT -11:00) Midway Island, Samoa</option>
                            <option value="-10.0">(GMT -10:00) Hawaii</option>
                            <option value="-9.0">(GMT -9:00) Alaska</option>
                            <option selected="selected" value="-8.0">(GMT -8:00) Pacific Time (US & Canada)</option>
                            <option value="-7.0">(GMT -7:00) Mountain Time (US & Canada)</option>
                            <option value="-6.0">(GMT -6:00) Central Time (US & Canada), Mexico City</option>
                            <option value="-5.0">(GMT -5:00) Eastern Time (US & Canada), Bogota, Lima</option>
                            <option value="-4.0">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
                            <option value="-3.5">(GMT -3:30) Newfoundland</option>
                            <option value="-3.0">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
                            <option value="-2.0">(GMT -2:00) Mid-Atlantic</option>
                            <option value="-1.0">(GMT -1:00 hour) Azores, Cape Verde Islands</option>
                            <option value="0.0">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
                            <option value="1.0">(GMT +1:00 hour) Brussels, Copenhagen, Madrid, Paris</option>
                            <option value="2.0">(GMT +2:00) Kaliningrad, South Africa</option>
                            <option value="3.0">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
                            <option value="3.5">(GMT +3:30) Tehran</option>
                            <option value="4.0">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
                            <option value="4.5">(GMT +4:30) Kabul</option>
                            <option value="5.0">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
                            <option value="5.5">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
                            <option value="5.75">(GMT +5:45) Kathmandu</option>
                            <option value="6.0">(GMT +6:00) Almaty, Dhaka, Colombo</option>
                            <option value="7.0">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
                            <option value="8.0">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
                            <option value="9.0">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
                            <option value="9.5">(GMT +9:30) Adelaide, Darwin</option>
                            <option value="10.0">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
                            <option value="11.0">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
                            <option value="12.0">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
                        </select>
                    </div>
                    <div class="row pull-right">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </form>

            </div>
            <div class="tab-pane fade" id="password-tab-content">
                <form id="tab2">
                    <label>New Password</label>
                    <input type="password" class="input-xlarge">
                    <div>
                        <button class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>