<span id="task-count"><strong><%= remaining %></strong> <%= remaining == 1 ? 'item' : 'items' %> left</span>
<ul id="filters">
    <li>
        <a class="selected" href="#/">All</a>
    </li>
    <li>
        <a id="btnStatsFilterActive" href="#">Active</a>
    </li>
    <li>
        <a id="btnStatsFilterCompleted" href="#">Completed</a>
    </li>
</ul>
<% if ( completed ) { %>
<button id="clear-completed">Clear completed</button>
<% } %>