<header class="header">
    <input id="new-task" placeholder="What needs to be done?" autofocus>
</header>

<section id="main">
    <input id="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>

    <ul id="task-list">

    </ul>
</section>

<footer id="footer">

</footer>