<section id="taskapp-wrapper">

    <link rel="stylesheet" href="../webapp/css/task-app-base.css">


    <div class="pull-right" id="button-group-priority">
        <div class="btn-group">
            <button type="button" class="btn btn-success btn-filter" data-target="<%= priorityNameHigh %>"><%= priorityNameHigh %></button>
            <button type="button" class="btn btn-warning btn-filter" data-target="<%= priorityNameMedium %>"><%= priorityNameMedium %></button>
            <button type="button" class="btn btn-danger btn-filter" data-target="<%= priorityNameLow %>"><%= priorityNameLow %></button>
            <button type="button" class="btn btn-default btn-filter" data-target="all">All</button>
        </div>
    </div>

    <section id="taskapp">

    </section>

    <footer id="info">
        <p>Double-click to edit a task</p>
    </footer>
</section>