<section id="construction-wrapper" class="materialContainer">

    <link rel="stylesheet" href="../webapp/lib/GlobalShell.css">
    <link rel="stylesheet" href="../webapp/css/under-construction.css">

    <div class="object">
        <div class="object-rope"></div>
        <div class="object-shape">
            Coming <span class="soon">Soon</span>
        </div>
    </div>

</section>