<div id="logged-in-template" class="container">
    <h1> Hello, <%= user.username %>! </h1>

    <div class="header">
    </div>

    <div class="main">
        <div id="lists">

        </div>
    </div>


</div>



