<section id="help-wrapper">
    <link rel="stylesheet" href="../webapp/css/help-base.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">

    <div class="demo">
        <div class="demo__content">
            <h2 class="demo__heading">What do you need help with?</h2>
            <div class="demo__elems">
                <div class="demo__elem demo__elem-1">With account security</div>
                <div class="demo__elem demo__elem-2">With tasks</div>
                <div class="demo__elem demo__elem-3">I need help with both</div>
                <span class="demo__hover demo__hover-1"></span>
                <span class="demo__hover demo__hover-2"></span>
                <span class="demo__hover demo__hover-3"></span>
                <div class="demo__highlighter">
                    <div class="demo__elems">
                        <div class="demo__elem">With account security</div>
                        <div class="demo__elem">With tasks</div>
                        <div class="demo__elem">I need help with both</div>
                    </div>
                </div>
                <div class="demo__examples">
                    <div class="demo__examples-nb">
                        <div class="nb-inner">
                            <div class="example example-adv">
                                <div class="example-adv">
                                    <div class="example-adv__top">
                                        <div class="example-adv__top-search"></div>
                                    </div>
                                    <div class="example-adv__mid"></div>
                                    <div class="example-adv__line"></div>
                                    <div class="example-adv__line long"></div>
                                </div>
                            </div>
                            <div class="example example-web">
                                <div class="example-web__top"></div>
                                <div class="example-web__left"></div>
                                <div class="example-web__right">
                                    <div class="example-web__right-line"></div>
                                    <div class="example-web__right-line"></div>
                                    <div class="example-web__right-line"></div>
                                    <div class="example-web__right-line"></div>
                                    <div class="example-web__right-line"></div>
                                    <div class="example-web__right-line"></div>
                                </div>
                            </div>
                            <div class="example example-both">
                                <div class="example-both__half example-both__left">
                                    <div class="example-both__left-top"></div>
                                    <div class="example-both__left-mid"></div>
                                </div>
                                <div class="example-both__half example-both__right">
                                    <div class="example-both__right-top"></div>
                                    <div class="example-both__right-mid"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
