<section id="welcome-wrapper">
    <link rel="stylesheet" type="text/css" href="/planbook-rest/public/webapp/css/animation-bounce-letter.css">

    <h1 class="bounce" id="text">
        Welcome, <br/>
    </h1>

    <h1 class="bounce">
        <span>
            <%= user.username || ''  %>!
        </span>
    </h1>

    <script>
        var txt = $('#text').text();
        var newTxt = txt.replace(/./g,function(c){
            return '<span>'+c+'</span>';
        })
        $('#text').html(newTxt);
    </script>

</section>