<link rel="stylesheet" type="text/css" href="/planbook-rest/public/webapp/css/user-sidebar.css">

<div class="profile-sidebar">
    <!-- SIDEBAR USERPIC -->
    <div class="profile-userpic">
        <img src="<%= user.profilePicture || '' %>" class="img-responsive" alt="">
    </div>
    <!-- END SIDEBAR USERPIC -->
    <!-- SIDEBAR USER TITLE -->
    <div class="profile-usertitle">
        <div class="profile-usertitle-name">
            <%= user.fullName || '' %>
        </div>
        <div class="profile-usertitle-job">
            <%= user.username || '' %>
        </div>
    </div>
    <!-- END SIDEBAR USER TITLE -->
    <!-- SIDEBAR BUTTONS -->
    <div class="profile-userbuttons">

        <div id="button-hook">
            <!--<button type="button" class="btn btn-success btn-sm">Follow</button>-->
            <!--<button type="button" class="btn btn-danger btn-sm">Message</button>-->
        </div>


    </div>
    <!-- END SIDEBAR BUTTONS -->
    <!-- SIDEBAR MENU -->
    <div class="profile-usermenu">
        <div id="menu-hook">

        </div>
    </div>
    <!-- END MENU -->
</div>