<div id="user-view-wrapper">

    <% _.each(cssLinks, function(curCss) { %>
        <link rel="stylesheet" type="text/css" href="<%= curCss.href || '#' %>">
    <% }); %>

    <div id="back-hook"></div>

    <div class="container">
        <div class="row profile">
            <div class="col-md-3">
                <div id="menu-hook"></div>
            </div>
            <div class="col-md-9">
                <div id="content-container" class="container">
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="content-hook"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <% _.each(jsLinks, function(curJs) { %>
        <script src="<%= curJs.src || '#' %>"></script>
    <% }); %>

</div>