
<section id="home-wrapper" class="container">
    <link rel="stylesheet" href="../webapp/css/home.css">

    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a class="list-group-item google-plus">
                    <h3 class="pull-right">
                        <i class="icon glyphicon glyphicon-fire"></i>
                    </h3>
                    <h4 class="list-group-item-heading count">1000</h4>
                    <p class="list-group-item-text">Statistic I</p>
                </a>
                <a class="list-group-item visitor">
                    <h3 class="pull-right">
                        <i class="icon glyphicon glyphicon-time"></i>
                    </h3>
                    <h4 class="list-group-item-heading count">
                        1000</h4>
                    <p class="list-group-item-text">Statistic II</p>
                </a>
                <a class="list-group-item facebook-like">
                    <h3 class="pull-right">
                        <i class="icon glyphicon glyphicon-road"></i>
                    </h3>
                    <h4 class="list-group-item-heading count">
                        1000</h4>
                    <p class="list-group-item-text">Statistic III</p>
                </a>
            </div>
        </div>
    </div>

    <script src="../webapp/js/user-home-animation.js"></script>
</section>

