<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8">
    <title>retrieve collection of models</title>

    <meta name="title" content="TBC">
    <meta name="description" content="Created by Andrew Parise">

    <meta name="author" content="Andrew Parise">
    <meta name="Copyright" content="Andrew Parise" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {#<link rel="stylesheet" type="text/css" href="/planbook-rest/public/webapp/node_modules/bootstrap/dist/css/bootstrap.css">#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--[if !IE 7]>
    <style type="text/css">
        #wrap {display:table;height:100%}
    </style>
    <![endif]-->

</head>
<body>
<div id="wrap">
    <div class="header"></div>

    <div id="content" class="container">
        <script src="/planbook-rest/public/webapp/node_modules/requirejs/require.js" data-main="/planbook-rest/public/webapp/config.js"></script>

    </div>
</div>

<div id="footer-hook"></div>

</body>
</html>